@import url("https://use.typekit.net/tpf4vai.css");

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #1e1e1e;
}

.grid-container {
  display: grid;

  grid-template-columns: repeat(4, 25vw);
  grid-auto-rows: 25vh;
}

.grid-container > div {
  background-color: #eee;
  padding: 1em;
  transition-duration: 500ms;
  opacity: 0;
}

.grid-container > div:hover {
  background-color: #eee;
  padding: 1em;
  transition-duration: 500ms;
  opacity: 1;
}

.dae-container {
  pointer-events: none;
  position: absolute;
  z-index: 10;
  color: white;

  font-family: rig-shaded-bold-extrude, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25.5vw;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  justify-content: center;
  width: 75%;
}
