.homeScreen {
  width: 100%;
  height: 100%;

  position: absolute;

  // left: 0px;
  right: 0px;

  &:hover {
    .navigation {
      margin-right: 500px;
      // right: 100%;
    }
  }

  .menuItems {
    --lin-bgC: var(--carmine);

    position: absolute;
    height: 100px;
    // background-color: var(--water);
    z-index: 1;
    bottom: 20%;
    width: 100%;
    // background: url('./src/assets/fez.gif');
    // background-position: 25%;
    // background-position: translatey(50%);

    background: linear-gradient(
      90deg,
      var(--lin-bgC) 0%,
      var(--lin-bgC) 55%,
      rgba(0, 0, 0, 0) 55%,
      rgba(0, 0, 0, 0) 55.5%,
      var(--lin-bgC) 55.5%,
      var(--lin-bgC) 57%,
      rgba(0, 0, 0, 0) 57%,
      rgba(0, 0, 0, 0) 57.5%,
      var(--lin-bgC) 57.5%,
      var(--lin-bgC) 80%,
      rgba(0, 0, 0, 0) 80%,
      rgba(0, 0, 0, 0)
    );
  }

  // .pillars {
  //   z-index: 2;
  //   position: absolute;
  //   // right: 20%;
  //   width: 380px;
  //   height: 100%;

  //   // background-image:
  //   // background-position: center;

  //   background: url('./src/assets/fez.gif');
  //   background-size: auto;
  //   background-repeat: no-repeat;
  //   background-position: center;

  //   .divider {
  //     // position: relative;

  //     height: 60px;
  //     width: 380px;
  //     background-color: var(--carmine);

  //     mask-image: url('./src/assets/clipmaskv2.svg');
  //     mask-repeat: no-repeat;
  //     mask-size: 100% 100%;
  //     mask-position: center;
  //     mask-type: luminance;
  //     -webkit-mask-type: alpha;
  //   }

  //   display: grid;
  //   grid-template-rows: 1fr 3fr 3fr;
  //   grid-template-areas:
  //     'one'
  //     'two'
  //     'three';

  //   z-index: 1;
  // }

  .navigation {
    position: relative;
    // margin-left: 200px;
    // margin-left: 60%;
    // margin-right: 200px;
    height: 100%;
    width: 380px;

    transition: 0.5s ease;

    .backgroundPillar {
      position: absolute;

      width: calc(100% + 40px);
      height: 100%;
      left: -20px;
      background-color: var(--carmine);

      display: flex;
      box-sizing: border-box;
      padding: 10px;
      justify-content: flex-end;
      font-size: 18px;
    }

    .animatedPillar {
      z-index: 2;
      position: absolute;
      width: 100%;
      // width: 380px;
      height: 100%;
      top: 0;

      background: url('./src/assets/fez.gif');
      background-size: auto;
      background-repeat: no-repeat;
      background-position: top center;
    }

    .divider {
      position: absolute;
      z-index: 3;

      top: 10%;

      height: 60px;
      width: 380px;
      background-color: var(--carmine);

      mask-image: url('./src/assets/clipmaskv2.svg');
      mask-repeat: no-repeat;
      mask-size: 100% 100%;
      mask-position: center;
      mask-type: luminance;
      -webkit-mask-type: alpha;

      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-weight: bold;
      color: var(--magnolia);
    }
  }

  // .backgroundPillar {
  //   position: absolute;

  //   width: 420px;
  //   // right: calc(20% - 20px);
  //   z-index: 0;
  //   height: 100%;
  //   background-color: var(--carmine);

  //   display: flex;
  //   box-sizing: border-box;
  //   padding: 10px;
  //   justify-content: flex-end;
  //   font-size: 18px;
  // }
}

// @media only screen and (max-width: 780px) {
//   .homeScreen {
//     .navigation {
//       margin: auto;
//     }
//     // .pillars {
//     //   left: unset;
//     //   right: unset;
//     //   margin: auto;
//     // }

//     // .backgroundPillar {
//     //   right: unset;
//     //   right: auto;
//     //   left: 50%;
//     // }
//   }
// }
