.dashboard {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-area: main;

  .centeredContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-10);

    --translate-ln: 10px;

    // :nth-child(1) {
    //   transform: rotate(-5deg) translateY(var(--translate-ln));
    // }

    // :nth-last-child(1) {
    //   transform: rotate(5deg) translateY(var(--translate-ln));
    // }

    .card {
      display: flex;

      height: 400px;

      padding: var(--spacing-4);

      aspect-ratio: 3/4;

      border-radius: var(--radius-2);
      border: 2px solid;

      border-color: var(--theme-surface);
      background-color: var(--theme-surface);

      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);

      transition:
        transform 0.2s ease-out,
        box-shadow 0.2s ease-out,
        border-color 0.2s ease-out;

      &:hover {
        cursor: pointer;
        transform: rotate(initial) translateY(-10px);
        border-color: var(--theme-border-light);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8);
      }
    }
  }
}
