/* HOME CSS START */

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120px;
  z-index: 10000;

  background-color: #151515;
}

.dae-header {
  pointer-events: none;
  position: absolute;
  z-index: 10;
  color: white;

  font-family: rig-shaded-bold-extrude, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;

  display: flex;
  align-items: center;
  left: 2%;
  height: 100%;
}

.main-body {
  top: 110px;
  display: flex;
  height: 100%;
}

.content-left {
  height: calc(100vh - 120px);
  width: 58%;
  display: flex;
  box-sizing: border-box;
  padding: 20px;

  /* background-color: red; */
}

.content-left .text {
  color: white;
  font-size: 24px;
}

.divider {
  width: 2%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.silly-box {
  width: 2px;
  height: 100%;
  background-color: white;
}

.content-right {
  height: calc(100vh - 120px);
  display: flex;
  width: 40%;
  overflow-y: auto;

  box-sizing: border-box;
  padding: 20px;

  /* background-color: royalblue; */
}

.content-right::-webkit-scrollbar {
  display: none;
}

.content-right .text {
  color: white;
  font-size: 32px;
}
/* HOME CSS END */
