.palm {
  // Palm Green - #243c2a
  --theme-50: #f4f9f5;
  --theme-100: #e5f3e8;
  --theme-200: #cde5d2;
  --theme-300: #a5d0ae;
  --theme-400: #76b283;
  --theme-500: #529561;
  --theme-600: #40794d;
  --theme-700: #35603f;
  --theme-800: #2d4e35;
  // Primary = 900
  --theme-900: #243c2a;
  --theme-950: #112216;

  --theme-0: #243c2a;

  --text: var(--theme-50);
  --theme-bg: var(--theme-950);

  --theme-primary: #243c2a;

  // #203626
  // #1d3022
  // #192a1d
  // #162419
  // #121e15
  // #0e1811
  // #0b120d
  // #070c08
  // #040604
  // 10% tints
  // -----
  // #3a503f
  // #506355
  // #66776a
  // #7c8a7f
  // #929e95
  // #a7b1aa
  // #bdc5bf // #d3d8d4 // #e9ecea
}
