/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.main {
  // background-color: #011c27 !important;
  background-color: var(--magnolia);
  width: 100vw;
  height: 100vh;
}

.home-body {
  height: 100vh;
  width: 100vw;
  display: flex;

  .grid-section {
    display: grid;
    // border: 1px solid var(--mint);
    border-radius: 10px;
    background-color: #1e1e1e;
    margin: auto;
    max-width: 800px;
    width: 70%;
    height: 70%;

    // box-shadow: 0px 0px 20px 5px #000000af;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'top-left top top'
      'center center center'
      'bot-left bot-left bot-right';

    padding: 10px;
    gap: 10px;

    .left,
    .right {
      display: none;
    }

    .top-left {
      grid-area: top-left;
    }

    .top {
      grid-area: top;
    }

    .center {
      grid-area: center;
    }

    // .right {
    //   grid-area: right;
    // }

    .bot-left {
      grid-area: bot-left;
    }

    .bot-right {
      grid-area: bot-right;
    }

    .grid-item {
      position: relative;
      // background-color: black;

      .content {
        z-index: 3;
      }

      overflow: clip;
      .bg {
        transition: 200ms ease-in-out;
        width: 100%;
        height: 100%;

        position: absolute;
        z-index: 0;

        background-image: url('/src/assets/silentmelody3.png');
        background-repeat: no-repeat;
        background-size: 110%;
        background-position: 50%;
        opacity: 50%;
      }

      .cover {
        transition: 200ms ease-in-out;

        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        backdrop-filter: blur(2px);
        // background: rgba(244, 255, 248, 0.3);
      }

      // backdrop-filter: blur(11px);

      // -webkit-backdrop-filter: blur(10.1px);

      border-radius: 10px;
      transition: 200ms ease-in-out;
      box-shadow: inset 0 4px 30px rgba(255, 255, 255, 0.1);

      // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

      box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.15),
        // inner glow
        0 4px 30px rgba(0, 0, 0, 0.1);

      color: white;
      font-weight: bold;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        .cover {
          backdrop-filter: blur(1px);
          opacity: 0.5;
        }

        .bg {
          background-size: 100%;
        }

        cursor: pointer;
        padding: 10px;

        box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.25),
          // inner glow
          0 4px 30px rgba(0, 0, 0, 0.1);

        // box-shadow: 0px 0px 5px 2px #0000004f;
      }
    }
  }
}

.navigation {
  width: 20%;
  height: 100%;
  display: flex;
  // padding: 20px;
  text-align: right;
  align-items: center;
  color: white;

  .nav-content {
    // border: 1px solid white;
    box-sizing: border-box;

    width: 100%;
    height: 90%;
    padding: 0px 30px 0px 0;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .title-box {
      pointer-events: none;
      width: 100%;
      font-size: 52px;
      font-family: rig-shaded-bold-extrude, sans-serif;
    }

    .button-container {
      display: flex;
      flex-direction: column;
    }

    .button {
      font-family: 'DM Sans', sans-serif;
      margin: 10px;
      text-align: right;
      color: white;
      background-color: none;
      font-size: 36px;
      text-decoration: none;

      cursor: pointer;
      transition-duration: 200ms;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.content-body {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    border: solid white 1px;
    width: 95%;
    height: 90%;
    position: relative;
    display: flex;
  }
}
