// @use './styling/themes/raspberry.scss';
@use './styling/themes/main.scss';

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: unset;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --carmine: #9b1d20;
  --water: #345995;
  --mint: #61c9a8;
  --waterRGB: rgba(52, 89, 149, 1);
  --saffron: #eac435;
  --magnolia: #f5f0f6;
  --night: #0c0c0c;
  --richBlack: #011c27;

  --whiteHSL: 290, 25, 95;
  --blackHSL: 197deg, 15%, 8%;

  --black: rgba(var(--blackHSL), 1);
  --hoverBlack: hsl(var(--blackHSL), 0.1);

  /* Transitions */
  --tr-duration-1: 200ms;
  --tr-duration-2: 500ms;

  /* Gaps */
  --gap-1: 4px;
  --gap-2: 8px;
  --gap-3: 12px;

  @for $i from 1 through 5 {
    --radius-#{$i}: #{$i * 4}px;
  }

  @for $i from 1 through 16 {
    --spacing-#{$i}: #{$i * 4}px;
  }

  // --radius-1: 4px;
  // --radius-2: 8px;
  // --radius-3: 12px;
  // --radius-4: 16px;

  --padding-0: 0;
  --padding-1: 4px;
  --padding-2: 8px;
  --padding-3: 12px;
  --padding-4: 16px;
  --padding-5: 20px;
  --padding-6: 24px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

button[data-variant='primary'] {
  --button-hover-color: var(--primary-dark-1);
}

.flexbox {
  display: flex;
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.material-symbols-outlined {
  &.filled,
  &[data-filled='true'] {
    font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }
}
