@import url("https://use.typekit.net/tpf4vai.css");

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #1e1e1e;
}

.grid-container {
  display: grid;

  grid-template-columns: repeat(4, 25vw);
  grid-auto-rows: 25vh;
}

.innerText {
  mix-blend-mode: overlay;
  opacity: 1;
}

.grid-container > div {
  background-color: #eee;
  padding: 1em;
  transition-duration: 500ms;
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media (min-width: 800px) {
  .grid-container > div:hover {
    opacity: 1;
  }
}

@media (max-width: 800px) and (orientation: portrait) {
  .grid-container > div {
    animation: pulse 8s infinite;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .grid-container > div {
    animation: pulse 8s infinite;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  80% {
    opacity: 0;
  }
}

.dae-container {
  pointer-events: none;
  position: absolute;
  z-index: 10;
  color: white;

  font-family: rig-shaded-bold-extrude, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25.5vw;

  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  justify-content: center;
  width: 75%;
}

#demo {
  font-size: 7.5vw;
}

#soundboard {
  font-size: 10vw;
}
